html, body {
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    
}

.grid-container {
    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;
    padding: 1px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px;
    font-size: 30px;
    text-align: center;
  }

  .checked {
    color: orange;
  }
